rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function hasChanges(keys) {
      return request.resource.data.diff(resource.data).affectedKeys.hasOnly(keys) == false;
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
      allow read: if request.auth.uid == userId || request.auth.token.role == 'Admin';
      allow write: if request.auth.uid == userId || request.auth.token.role == 'Admin';
    }

    match /users {
      allow list: if request.auth.token.role == 'Admin';
    }

    match /wiki_pages/{pageId} {
      allow read;
      allow create: if request.auth != null && request.auth.token.role in ['Admin', 'Editor'];
      allow update: if request.auth != null && 
                      request.auth.token.role in ['Admin', 'Editor'] &&
                      hasChanges(['lastEditorId', 'lastEditorDisplayName', 'lastEditorPhotoURL', 'updatedAt']);
      allow delete: if request.auth != null && request.auth.token.role in ['Admin', 'Editor'];
    }
    
    match /wiki_pages {
      allow list;
    }
  }
}